/*================================ BOARD STYLES =================================*/
.board {
  max-width: 350px;
  margin: 0 auto;
}

.board__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

.board__tile {
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--color-tone-4);
  transition: background-color 500ms ease-in-out;
}

@media (min-width: 400px) {
  .board__tile {
    width: 60px;
    height: 60px;
  }
}
