/*================================ HEADER STYLES =================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-tone-4);
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.header-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0.5rem;
  margin: 0 0.25rem;
}

@media (max-width: 300px) {
  .title {
    font-size: 1.5rem;
  }
}
