@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-absent: var(--color-tone-2);
  --opacity-50: rgba(255, 255, 255, 0.5);
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;

  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 700;
  color: var(--color-tone-1);
}

.body-dark {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: rgba(0, 0, 0, 0.5);
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
}

.game-body {
  width: 100%;
  height: 100vh;
  max-width: var(--game-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green-overlay,
.yellow-overlay,
.gray-overlay {
  color: var(--white);
  border: none;
}

.green-overlay {
  background-color: var(--darkendGreen);
}

.yellow-overlay {
  background-color: var(--darkendYellow);
}

.gray-overlay {
  background-color: var(--color-absent);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2.2rem;
}
