/*================================ MODAL STYLES =================================*/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-tone-1);
  background-color: var(--color-tone-7);
  text-align: left;
  font-weight: 400;
}

.modal-close {
  position: relative;
  right: -1rem;
  top: 3px;
}

.modal p {
  font-size: 14px;
}

.modal header {
  border: none;
}

.modal__inner {
  width: 90%;
  max-width: var(--game-max-width);
  margin: 0 auto;
}

.modal-open-animation {
  animation: 0.2s linear slideup;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-close-animation {
  animation: 0.2s linear slidedown;
}

@keyframes slidedown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

/*================================ HELP MODAL STYLES =================================*/
.modal-help__section {
  border-bottom: 1px solid var(--color-tone-4);
}

.modal-tile-container {
  display: flex;
  gap: 0.25rem;
}

.modal-tile {
  max-width: 45px;
  height: 45px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--color-tone-4);
}

/*================================ STATS MODAL STYLES =================================*/
.modal-stats {
  background-color: var(--opacity-50);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-stats__inner {
  background-color: var(--color-tone-7);
  border: 1px solid var(--color-tone-6);
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  font-weight: 400;
  flex: 1;
  max-width: 60px;
}

.modal .stat {
  font-size: 2rem;
  margin: 0;
}

.modal .stat-label {
}
