@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --opacity-50: rgba(255, 255, 255, 0.5);
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;

  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 700;
  color: var(--color-tone-1);
}

.body-dark {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: rgba(0, 0, 0, 0.5);
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
}

.game-body {
  width: 100%;
  height: 100vh;
  max-width: var(--game-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*================================ HEADER STYLES =================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-tone-4);
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.header-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0.5rem;
  margin: 0 0.25rem;
}

/*================================ BOARD STYLES =================================*/

.board {
  max-width: 350px;
  margin: 0 auto;
}

.board__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

.board__tile {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--color-tone-4);
}

.green-tile {
  background-color: var(--darkendGreen);
}

.yellow-tile {
  background-color: var(--darkendYellow);
}

.gray-tile {
  background-color: var(--color-tone-4);
}

/*================================ KEYBOARD STYLES =================================*/

.keyboard__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 8px;
}

button {
  font-size: 0.85rem;
  font-weight: 700;
  height: 3.2rem;
  background-color: var(--color-tone-4);
  color: var(--color-tone-1);
  border: none;
  margin: 0 6px 0 0;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  flex: 1;
}

button:last-of-type {
  margin: 0;
}

.spacer {
  flex: 0.5;
}

.wide-key {
  flex: 1.5 1;
}
